exports/
hijacks/
imports/
package/
packages/
lib/
whole_program_debug/
debug/
release/
.libraries*
.generated_files
.dlls
.executables
.interfaces
.libraries
.imports
.imports.xml
.smmakefirst
.cg*
.*tools-*
.xdcenv.mak
.bin-files,cmds
.src-files
.etc-files
.test-files
.all-files
.lib-files
.include-files
.changelog*
.tmp-imports*
.tmp*
package.mak
*.xem3
*.xe64T
*.xe674
*.o
*.sw*
.tests*
.nfs*
*.bin
*.patch
*.tar
*.zip
*patch*

# Utilities & Script Files
genbase
readrprc
wrints
genextbin
xdep
mmu_ttb_dump.log
sign_toc.log

# Generated header files from XDC modules
Deh.h
IpcMemory.h
SysMin.h
StackDbg.h
HdmiWa.h
